@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

body {
  background-color: rgba(255, 228, 228, 0.902);
  background-image: url("/images/Icono RA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(19, 2, 19);
}
body a {
  text-decoration: none;
}
body main {
  margin-bottom: 50%;
  margin: 2%;
}
body main .bienvenido,
body main .tips,
body main .blog,
body main .contactame,
body main .recetario {
  margin-top: 40px;
  padding: 3%;
  color: rgba(62, 8, 41, 0.611);
}
body main p {
  color: rgb(19, 2, 19);
  font-size: 18px;
  text-align: justify;
}
body main h1,
body main h2,
body main h3 {
  text-align: center;
  font-weight: 900;
}
body main h2 {
  color: rgb(169, 85, 99);
  font-size: 20 px;
}
body main h3 {
  color: rgb(115, 47, 58);
  font-size: 18 px;
}
body ul li {
  list-style: none;
  color: rgb(44, 24, 44);
  font-size: 18px;
  text-align: justify;
}
body ul li:hover {
  color: blanchedalmond;
  border-color: rgb(87, 27, 36);
  transform: scale(1.1);
  transition: 2s;
  cursor: pointer;
}

footer {
  margin-top: 10%;
  padding-top: 5%;
}
footer .container .row {
  margin: 0;
}

.btn-primary {
  background-color: rgb(163, 73, 88);
  color: blanchedalmond;
  border-color: rgb(131, 55, 67);
}
.btn-primary:hover {
  background-color: rgb(124, 47, 60);
  color: blanchedalmond;
  border-color: rgb(87, 27, 36);
  transform: scale(1.1);
  transition: 2s;
  text-decoration: underline;
  cursor: pointer;
}
.btn-primary .btn.show,
.btn-primary .btn:first-child:active,
.btn-primary :not(.btn-check) + .btn:active {
  background-color: rgb(124, 47, 60);
  color: blanchedalmond;
  border-color: rgb(87, 27, 36);
}

.btn-outline-primary {
  background-color: rgb(155, 115, 119);
  color: blanchedalmond;
  border-color: rgb(131, 55, 67);
}
.btn-outline-primary:hover {
  background-color: rgb(124, 47, 60);
  color: blanchedalmond;
  border-color: rgb(87, 27, 36);
  transform: scale(1.1);
  transition: 2s;
  text-decoration: underline;
  cursor: pointer;
}
.btn-outline-primary .btn.show,
.btn-outline-primary .btn:first-child:active,
.btn-outline-primary :not(.btn-check) + .btn:active {
  background-color: rgb(124, 47, 60);
  color: blanchedalmond;
  border-color: rgb(87, 27, 36);
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.itemsInicio1, .itemsInicio2, .itemsInicio3, .itemsInicio4 {
  display: flex;
  justify-items: flex-start;
}
.itemsInicio1::before, .itemsInicio2::before, .itemsInicio3::before, .itemsInicio4::before {
  background-color: rgb(247, 203, 192);
  border-radius: 30px;
  margin: 0 20px 0 0;
  padding: 5px 25px 5px 25px;
  color: white;
}
.itemsInicio1::before {
  content: "01";
}
.itemsInicio2::before {
  content: "02";
}
.itemsInicio3::before {
  content: "03";
}
.itemsInicio4::before {
  content: "04";
}

.parrafoFinalRecetario {
  margin-top: 30px;
  background-color: rgba(234, 200, 218, 0.743);
  text-decoration: underline rgb(85, 12, 24);
}

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2, 300px;
  grid-gap: 20px;
  grid-template-areas: "contacto formulario" "foto descripcion";
  margin-top: 15px;
  align-items: center;
  justify-items: center;
  place-items: center;
}
.grilla_hijo {
  color: rgba(44, 1, 52, 0.981);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grilla .contacto {
  grid-area: contacto;
  background-color: rgba(255, 200, 228, 0.692);
  padding: 10px;
}
.grilla .formulario {
  grid-area: formulario;
  padding: 10px;
}
.grilla .formulario .campos {
  margin-bottom: 10px;
}
.grilla .formulario label {
  color: blanco;
  font-size: 18px;
}
.grilla .formulario input,
.grilla .formulario textarea {
  width: 100%;
  padding: 4px;
  border: none;
  border-radius: 20px;
}
.grilla .formulario .botones {
  margin-top: 10px;
  text-align: right;
}
.grilla .foto {
  grid-area: foto;
}
.grilla .foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grilla .descripcion {
  grid-area: descripcion;
  background-color: rgba(255, 192, 203, 0.344);
}
.grilla .descripcion p {
  font-size: 20px;
  max-width: 100%;
  justify-content: center;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
