@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    background-color: rgba(252, 217, 237, 0.891);
}

h1,
h2,
h3 {
    font-family: 'Be Vietnam Pro';
    text-align: center;
    font-weight: 900;
}

h2 {
    color: rgb(169, 85, 99);
    font-size: 24 px;
}

h3 {
    color: rgb(115, 47, 58);
    font-size: 22 px;
}

p {
    color: rgb(44, 24, 44);
    font-family: 'Be Vietnam Pro';
    font-size: 18px;
    text-align: justify;
}

a {
    text-decoration: none;
}

.menu-nav {
    background-color: rgb(78, 7, 61);
    padding: 20px;
    text-align: right;

    border: 2px rgb(26, 1, 49) solid;
}

.menu-nav ul {
    list-style-type: none;
    display: inline;
}

.menu-nav ul li {
    display: inline;
    padding: 20px;
}

.menu-nav ul li a {
    color: rgb(205, 183, 205);
    text-decoration: none;
    text-transform: uppercase;

}

.bienvenidos {
    display: inline-block;
    width: 100%;
}

.contenedorBienvenidxs {

    display: inline-block;
    width: 40%;
    padding: 50px;
    position: relative;
    bottom: 50px;
}

.bienvenidos img {
    display: inline-block;
    width: 30%;
    object-fit: cover;
    border-radius: 90%;
    padding: 40px;
}

.contenedorValores,
.items-palabras {
    padding: 30px 100px;
    margin: 50px;
    border: 5px;
}



.entrada-uno,
.entrada-dos,
.entrada-tres {
    display: inline-block;
    width: 100%;

}

.contenedor-entrada-uno img {
    display: inline-block;
    width: 45%;
    object-fit: cover;
    padding: 20px 50px;
    bottom: 50px;

}

.contenedor-entrada-uno p,
.contenedor-entrada-dos p {
    display: inline-block;
    width: 35%;
    padding: 50px;
    position: relative;
    bottom: 50px;

}

.resumen-camino p,
.resumen-exito p {
    display: inline-block;
    padding: 20px 50px;
    width: 90%;
    position: relative;
    bottom: 50px;
    text-align: justify;
}

.contenedor-entrada-dos img {
    display: inline-block;
    width: 45%;
    object-fit: cover;
    padding: 30px 50px;
    bottom: 50px;

}

.entrada-tres iframe {
    /*justify-content: center;*/
    display: inline-block;
    width: 15%;
    object-fit: cover;
    padding: 20px;
    text-align: center;
    margin-left: 60px;
}

.tips,
.blog,
.contacto,
.marca,
.recetario{
    color: rgba(39, 4, 27, 0.934);
    font-size: 20px;
    margin: 30px;
    padding: 20px;




}

.mindful-h2,
.amorpropio-h2,
.adios-h2,
.bienvenido-h2,
.valores-h2,
.relax-h2,
.camino-h2,
.exito-h2,
.form-h2,
.palabras-h2,
.entradah2,
.galletas-h2,
.budin-h2 {
    margin: 35px;
    padding: 50px;
    border: 1px rosybrown solid;
    background-color: rgb(208, 173, 215);
}

.contenedor-Mindful,
.contenedor-Mindful-items {
    display: inline-block;
    width: 40%;
    padding: 50px;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.contenedor-Mindful-resumen {
    display: inline-block;
    padding: 50px;
    width: 90%;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.contenedor-Mindful img {
    display: inline-block;
    width: 50%;
    object-fit: cover;
    padding: 30px;
}

.contenedor-amorpropio-intro,
.contenedor-items-amorpropio {
    display: inline-block;
    width: 35%;
    padding: 50px;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.contenedor-amorpropio-intro img {
    display: inline-block;
    width: 50%;
    object-fit: cover;
    padding: 30px;

}

.contenedor-adios-balanza img {
    width: 100%;
    object-fit: cover;
    padding: 30px;
}

.contenedor-adios-balanza,
.contenedor-items-balanza {
    display: inline-block;
    width: 35%;
    padding: 50px;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.contenedor-resumen-balanza {
    display: inline-block;
    padding: 50px;
    width: 90%;
    position: relative;
    bottom: 50px;
    text-align: center;
}

.contenedor-entrada-tres p {
    padding: 30px 100px;
    margin: 50px;
    border: 5px;
}

.formularioContacto {
    display: inline-block;
}

.invitacion {
    display: inline-block;
    padding: 50px;
    width: 35%;
    position: relative;
    bottom: 400px;
    text-align: justify;
}

.formulario {
    display: inline-block;
    padding: 50px;
    width: 35%;
    position: relative;
    bottom: 50px;
    text-align: justify;
}

.campos {
    color: rgb(44, 24, 44);
    font-family: 'Be Vietnam Pro';
    font-size: 18px;
    text-align: justify;
    padding: 20px;
    width: 90%;
    position: relative;
    bottom: 20px;
    text-align: justify;
}

.campos textarea {
    color: rgb(44, 24, 44);
    font-family: 'Be Vietnam Pro';
    font-size: 18px;
    text-align: justify;
    width: 100%;
    margin-bottom: 10px;
}

.camposButtons {
    text-align: right;
    color: rgb(44, 24, 44);
    font-family: 'Be Vietnam Pro';
    font-size: 18px;

}

.contenedorImagen {
    display: inline-block;
    padding: 12px;
    width: 35%;
    position: relative;
    bottom: 450px
}

.contenedorImagen img {
    width: 100%;
    object-fit: cover;
    padding: 30px;
}

.contenedorInvitacion p {
    padding: 20px 50px;
    width: 90%;
    position: relative;
    bottom: 500px;
    text-align: justify;
}


footer {
    background-color: rgb(78, 7, 61);
    width: 100%;
    padding: 0 50px;
    display: inline-block;
    text-align: center;
    
}
.footer-h2 {
    color: rgba(214, 134, 134, 0.349);
    margin-bottom: 20px;
}

.footer-2{
    display: inline-block;
    width: 30%;
    text-align: left;
}

.redesSociales{
    display: inline-block;
    width: 100%;
    text-align: justify;
  }
.redesSociales i{
    font-size:50px ;
    
}
.footer2 nav ul {
    list-style-type: none;
  
}

.footer2 nav ul li {
    display: inline-block;
    padding: 20px;

}

.footer2 nav ul li a {
    color: rgb(205, 183, 205);

}

.copy-r-m p {
    width: 90%;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    text-align: right;
}


.contenedor-items-galletas,.contenedor-items-budin,.contenedorbudiningredientespizza{

    display: inline-block;
    width: 35%;
    padding: 50px;
    position: relative;
    bottom: 50px;

}
.contenedor-items-galletas,.contenedor-items-budin,.contenedorbudiningredientespizza h3{
    margin: 15px;
    font-size: 24px;
}

.contenedor-pizza img, .contenedor-galletas-intro img,.contenedor-budin img{

    width: 100%;
    object-fit: cover;
    padding: 30px;
    display: inline-block;
    width: 50%;

}
