.grilla {
    @include flexbox(grid, center);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2, 300px;
    grid-gap: 20px;
    grid-template-areas:
        "contacto formulario"
        "foto descripcion";
    margin-top: 15px;
    justify-items: center;
    place-items: center;


    &_hijo {
        @include tamanio(100%, 100%, cover);
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .animacion;

    }

    .contacto {
        grid-area: contacto;
        @extend .gradiente;
        background-size: cover;
        padding: 10px;

        p {
            color: rgb(68, 7, 53);

        }

    }


    .formulario {
        grid-area: formulario;
        padding: 10px;

        .campos {
            margin-bottom: 10px;

            input,
            textarea {
                width: 100%;
                padding: 4px;
                border-color: $main-color;
                border-radius: 20px;

                &:focus {
                    transition: $transition;
                    transform: scale(1.5, 2);

                }
            }

        }

        label {
            color: blanco;
            font-size: 18px;
            color: $titulos2-color;
        }



        .botones {
            margin-top: 10px;
            text-align: right;
        }

    }

    .foto {
        grid-area: foto;

        img {
            @include tamanio(100%, 100%, cover);
            border-radius: 10%;
            border-style: double;
            border-color: rgb(112, 21, 103);
            background-clip: text;
            -webkit-background-clip: text;
            transition: 5s;


            &:hover {
                @extend .gradiente;


            }
        }
    }

    .descripcion {
        grid-area: descripcion;
        @extend .gradiente;

        p {
            font-size: 20px;
            max-width: 100%;
            justify-content: center;
            margin-right: 20px;
            color: rgb(68, 7, 53);
            @extend .animacion;


        }

    }

}

@keyframes animacion {
    0% {

        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }

}