.items {
    @extend .d-flex;
    gap: 10px;
    justify-content: center;

    &Inicio1,
    &Inicio2,
    &Inicio3,
    &Inicio4 {
        @include flexbox(flex, flex-start);

        &::before {
            background-color: rgb(247, 203, 192);
            border-radius: 30px;
            margin: 0 20px 0 0;
            padding: 5px 25px 5px 25px;
            color: white;
        }

    }

    &Inicio1 {
        &::before {
            content: "01";
        }
    }

    &Inicio2 {
        &::before {
            content: "02";
        }
    }

    &Inicio3 {
        &::before {
            content: "03";
        }
    }

    &Inicio4 {
        &::before {
            content: "04";
        }
    }

}