.d-flex {
  display: flex;
  flex-direction: row;
}

.animacion {
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-delay: 1s;
  transform: translateX(0);
}

.gradiente {
  background-image: linear-gradient(to left, $secondary-color, rgb(172, 241, 241));
  height: 100%;
  width: 100%;
}

@mixin tamanio($width, $height, $object) {
  width: $width;
  height: $height;
  object-fit: $object;
}

@mixin flexbox($display, $align) {
  display: $display;
  align-items: $align;
}