$background-image:url('/images/Icono\ RA.jpg');
$main-color: rgba(255, 228, 228, 0.902); 
$secondary-color:rgba(234, 200, 218, 0.743);
$titulos1-color: rgba(62, 8, 41, 0.611);
$titulos2-color: rgb(169, 85, 99);
$titulos3-color: rgb(115, 47, 58);
$titulosLi-color: rgb(44, 24, 44);
$parrafo-color:rgb(19, 2, 19);


$main-font: "Be Vietnam Pro", sans-serif;
$transition:2s;
