$background-image:url('/images/fondo\ degrade.jpg');
$main-color: rgba(255, 228, 228, 0.902); 
$secondary-color:rgba(234, 200, 218, 0.743);
$titulos1-color: rgba(82, 17, 57, 0.611);
$titulos2-color: rgb(184, 44, 161);
$titulos3-color: rgb(110, 47, 115);
$titulosLi-color: rgb(44, 24, 44);
$parrafo-color:rgb(42, 19, 61);
$main-font: "Be Vietnam Pro", sans-serif;
$transition:2s;


